<table>
    <thead>
            <tr>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Email</th>
                <th>Aniversário</th>
                <th>Tipo</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @for (contato of favoritos; track contato){

            
            <tr>
                <td>{{ contato.nome }}</td>
                <td>{{ contato.telefone }}</td>
                <td>{{ contato.email }}</td>
                <td>{{ contato.aniversario }}</td>
                <td>{{ contato.tipo }}</td>
                <td>
                    <button class="btn btn-danger me-2" (click)="removerFav(contato)" >Remover fav</button>
                    
                </td>
                
            </tr>
            }
            
        </tbody>
</table>